/* Overall styling */


body{
  font-family: sans-serif;
  background: url('../search.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* Dish container */

h1 {
    text-align: center;
    margin: 20px 0;
}

.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dish-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dish-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.dish-details {
    padding: 10px;
}

.dish-details h2 {
    font-size: 1.2em;
}

.dish-details p {
    margin-top: 10px;
}

/* Add more styles as needed */
.order-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.order-button:hover {
    background-color:red;
}